/* ============================================================
   STYLES SPÉCIFIQUES - CONTAINER
   ============================================================ */

.container {
    display: flex;
    align-items: center;
	justify-content: center;
}

.container h2 {
    text-align: center;
}

.container p {
    margin-left: 10px;
}

/* ============================================================
   RESET CSS (Meyer Reset v2.0)
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ============================================================ */

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-color: #FFFEF8;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

/* ============================================================
   CONFIGURATION GÉNÉRALE DU BODY
   ============================================================ */

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

/* ============================================================
   HEADER & NAVIGATION
   ============================================================ */

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

/* ============================================================
   TYPOGRAPHIE - TITRES
   ============================================================ */

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

/* ============================================================
   NAVIGATION - MENU
   ============================================================ */

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

/* ============================================================
   SECTION INTRODUCTION
   ============================================================ */

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/* ============================================================
   SECTION PORTFOLIO
   ============================================================ */

#portfolio h2 {
	text-align: center;
}

/* Bouton "Modifier" visible en mode admin */
.js-modal-2 {
	padding-top: 10px;
}

/* ============================================================
   FILTRES DE CATÉGORIES
   ============================================================ */

.div-container {
    min-width: 550px;
	width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 35px auto;
}

.div-container > * {
	padding: 10px 20px;
	border: 1px solid #1D6154;
	border-radius: 25px;
	font-family: 'Syne';
	color: #1D6154;
	cursor: pointer;
}

.div-container > *:hover{
	background-color: #1D6154;
	color: white;
}

/* Filtre actif/sélectionné */
.active-filter {
	background-color: #1D6154;
	color: white;
}

/* ============================================================
   GALERIE PRINCIPALE
   ============================================================ */

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 500px;
	overflow: hidden;
	object-fit: cover;
}

/* ============================================================
   MODALE - BOUTONS DE FERMETURE ET NAVIGATION
   ============================================================ */

.close-button-container{
    display: flex;
    justify-content: flex-end;
}

.modal-buttons-container{
	display: flex;
    justify-content: space-between;
}

.projets-title {
	margin-bottom: 0;
}

.projets-container {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.js-modal-close {
    border: none;
    background-color: white;
    font-size: 24px;
}

.js-modal-back {
	border: none;
    background-color: white;
    font-size: 24px;
}

/* ============================================================
   MODALE - STRUCTURE ET CONTENU
   ============================================================ */

.modal-wrapper h3 {
    font-size: 26px;
    text-align: center;
    display: block;
    margin-bottom: 40px;
}

.modal-gallery {
    width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.modal-gallery img {
	width: 100%;
}

.modal-wrapper hr {
    margin-top: 30px;
	width: 100%;
}

.modal-button-container{
    display: flex;
    justify-content: center;
}

.add-photo-button {
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid #1D6154;
    border-radius: 25px;
    font-family: 'Syne';
    color: white;
    cursor: pointer;
    background-color: #1D6154;
    width: 250px;
}

/* ============================================================
   MODALE - IMAGES AVEC ICÔNE DE SUPPRESSION
   ============================================================ */

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
}

.image-container .overlay-icon {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 10%;
}

/* ============================================================
   FORMULAIRES - STYLES GÉNÉRAUX
   ============================================================ */

.form {
	width: 50%;
	margin: auto;
}

.form > * {
	text-align: center;
	
}

.form h2{
	margin-bottom: 20px;
}

.form form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

.form input, select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form label {
	margin: 2em 0 1em 0;
}

.form textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/* ============================================================
   FORMULAIRE - AJOUT DE PHOTO
   ============================================================ */

.add-photo-form {
	width: 70%;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

/* ============================================================
   FOOTER
   ============================================================ */

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* ============================================================
   MESSAGES D'ERREUR
   ============================================================ */

.error-login {
	background-color: #B84947;
	color: white;
	display: flex;
	justify-content: center;
	padding: 10px;
}

/* ============================================================
   MODE ADMINISTRATEUR - BANNIÈRE D'ÉDITION
   ============================================================ */

.edit {
	background-color: black;
	color: white;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	width: 100vw;
}

.edit a {
	color: white;
}

.edit a:visited {
	color: white;
}

/* ============================================================
   MODALE - OVERLAY ET WRAPPER
   ============================================================ */

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0,0,0.8);
}

.modal-wrapper {
	overflow: auto;
	width: 600px;
	max-width: calc(100vh - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	background-color: white;
}

/* ============================================================
   UPLOAD DE FICHIER - SECTION D'AJOUT D'IMAGE
   ============================================================ */

.file-section {
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.file-section label {
	background-color: #CBD6DC;
	padding: 10px 20px;
	margin-top: 10px;
	border-radius: 50px;
	color: #306685;
	cursor: pointer;
	width: 180px;
	text-align: center;
	font-weight: 600;
}

.file-section p {
	font-size: 10px;
	color: #444444;
}

.fa-image {
	color: #CBD6DC;
	font-size: 75px;
}

#file {
	display: none;
}

/* ============================================================
   PRÉVISUALISATION DE L'IMAGE UPLOADÉE
   ============================================================ */

#photo-container {
	width: 70%;
}

#photo-container img {
	width: 100%;
}